<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>




	<!-- Email 
		<beans>
		<bean id="mailbean" class="com.fwhere.util.EmailUtil">
		<property name="strSmtp">
		<value>192.168.10.14</value>
		</property>
		</bean>
		</beans>-->

	<!-- hibernate -->
	<!-- Database Configuration 
	<import resource="config/DataSource.xml" />
	<import resource="config/HibernateSessionFactory.xml" />-->

	<!-- Beans Declaration 
	<import resource="spring/business-aop-context.xml" />
	<import resource="spring/business-context.xml" />
	<import resource="spring/action-controller-context.xml" />-->
</beans>